.app__video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.app__video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero_section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hero-text{
    font-family: var(--font-hero);
    font-weight: bolder;
    font-size: 48px;
    color: #fff;
    letter-spacing: 0.04em;
    text-shadow: 1px 7px 3px black;
}