

.page-header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0em 1em;
}

.page-header_image{
    
    display: flex;
    width: 52px;
    height:  52px;

}

.page-header_image img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 3px 7px 10px black;
    cursor: pointer;
}